<p>header works!</p>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Angular features project</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ng-container *ngIf="dropdownItems">
        <org-menudropdown [dropdownItems]="dropdownItems" [dropdownTitle]="dropdownTitle"></org-menudropdown>
        </ng-container>
        <a class="nav-link active" routerLink="/grid" >Ag-grid</a>
        <a class="nav-link active" routerLink="/general">General</a>
        <a class="nav-link active" routerLink="/empDetails">empDetails</a>

       <!--  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Disabled</a
        > -->
      </div>
    </div>
  </div>
</nav>
