.description{
    font-size: 16px;
    background-color: darkgray;
    color: black;
    text-wrap: wrap;
    margin: auto;
    padding: 24px;
    .code-disp {
        background-color: black;
        color: wheat;
        margin: auto;
        padding: 24px;
    }
}
